.container {
    float: left;
    width: 100%;
}

.cover {
    position: relative;
    height: 70vh;
    width: 100%;
}

.intro {
    min-height: 30vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    p {
        margin-left: 10%;
        margin-right: 10%;
        word-break: break-all;
    }
}
