.container {
    width: 100%;

    @media(min-width: 768px) {
        display: grid;
        grid-gap: 30px;
    }
}

.cover {
    position: relative;
    height: 70vh;
    width: 100%;
}

.intro {
    min-height: 30vh;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    gap: 20px;

    p {
        margin-left: 10%;
        margin-right: 10%;
        word-break: break-all;
    }

    @media(min-width: 768px) {
        h2 {
            max-width: 25vw;
        }
    }
}
