$font-en: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-zh: source-han-sans-simplified-c, sans-serif;

$color: rgba(0, 0, 0, 0.85);

/** Headers **/
.title {
    font-family: 'Times New Roman', Palantino, Athelas, sans-serif;
    font-size: 8rem;
    font-weight: 500;
    font-style: italic;
    line-height: 0.85;
    letter-spacing: -0.06em;
    color: $color;

    transform: scaleX(0.7) scaleY(1.1) translateX(-20%);
}

.h1-en {
    font-family: $font-en;
    font-size: 5rem;
    line-height: 4rem;
    letter-spacing: -0.07rem;
    font-weight: 400;
    text-transform: uppercase;
}

.h2-en {
    font-family: $font-en;
    font-size: 1.6rem;
    line-height: 0.9;
    font-weight: 500;
    text-transform: uppercase;
}

.h2-zh {
    font-family: $font-zh;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.2;
}

hr {
    height: 2px !important;
    background-color: black;
    margin-left: 25%;
}

/** Scrollbar **/

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

main::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body, main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
