// ====== helpers ======

@mixin fullArea {
    width: 100%;
    height: 100%;
}

@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin meta {
    width: 100%;
    position: absolute;
}

.top {
    @include meta;
    bottom: 0;
    top: unset !important;
}

.bottom {
    @include meta;
    top: 0;
}

.picBottom {
    position: relative;
    height: fit-content;

    h1 {
        display: none;
        top: 0;
        left: 0;
        color: #c31414;
    }

    &:hover {
        cursor: pointer;

        h1 {
            display: block;
        }
    }
}

.picTop {
    position: relative;
    // height: fit-content;

    h1 {
        display: none;
        bottom: 0;
        right: 0;
        color: #c31414;
    }

    &:hover {
        cursor: pointer;

        h1 {
            display: block;
        }
    }
}

.number {
    position: absolute;
}

.label {
    position: fixed;
    z-index: 9;
}

// ====== containers ======

.container {
    @include fullArea;
    display: grid;
    grid-template-columns: 37.5% 37.5% 25%;
}

.containerLeft {
    @include fullArea;
    display: grid;
    grid-template-rows: 50% 50%;
}

.containerCenter {
    @include fullArea;
    display: grid;
    grid-template-rows: 50% 50%;
}

.containerRight {
    @include fullArea;
    display: grid;
    grid-template-rows: 45% 55%;
}

// ===== top =====

.topLeft {
    @include fullArea;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.topCenter {
    @include fullArea;
    display: grid;
    grid-template-columns: 25% 55% 20%;
}

.topRight {
    @include fullArea;
    display: grid;
    grid-template-columns: 50% 50%;
}

// ===== bottom =====

.bottomLeft {
    @include fullArea;
    display: grid;
    grid-template-columns: 52% 28% 20%;
}

.bottomCenter {
    @include fullArea;
    display: grid;
    grid-template-columns: 65% 35%;
}

.bottomRight {
    @include fullArea;
    display: grid;
    grid-template-columns: 35% 65%;
}
